.row {
    
    width:100%;
    justify-content: center;

}

#row_title {
    font-family: msSansSerif;
}

#row_content {
    font-family: w95fa;
}

.row__posters {
    display: flex;
    width: 980px;
    height: 100%;
    overflow-x: scroll;
    
    margin-left: auto;
    margin-right:auto;
    
}

.row__posters::-webkit-scrollbar {
    width: 1000px;
    display: auto;
    overflow: visible;
   /* 스크롤 노출 유무 (작동엔 영향 없음) */
}

.row__poster {
    object-fit: contain;
    width: 980px;
    max-height: 100px;
    margin-left: auto;
    margin-right:auto;
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);

}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}
