.row {
  width: 100%;
  
}

#row_title {
  font-family: msSansSerif;
}

#row_content {
    font-family: w95fa;
    justify-content:center;

}

.row__posters {
    display: flex;
    width: 1080px;
    height: 240px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.row__posters::-webkit-scrollbar {
  display: hidden;
  width: auto;

  /* 스크롤 노출 유무 (작동엔 영향 없음) */
}
.row__posters::-webkit-scrollbar-thumb {
  height: 5%;

  background-color: #ed497b;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}
.row__poster::-webkit-scrollbar-track {
  background: #b7bbc1;
}

.row__poster {
    object-fit: contain;
    width: 180px;
    max-height: 170px;
    margin-left: auto;
    margin-right:auto;
    transition: transform 450ms;
    
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 180px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

