.common-table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  padding: 5px 5px;
}

.common-table-header-column {
  background-color: #ED497B;
  color: #e8e8e8;

  border-bottom: 4px solid #d9d9d9;

  padding: 10px 5px;

  font-size: 16px;
  font-weight: bold;
}

.common-table-row:hover {
  background-color: #eceaea;
  cursor: pointer;
}

.common-table-column {
  padding: 20px 50px;
}
