.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 232.8px;
  background-color: rgba (0, 0, 0, 0.2);

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: -0.2px;

  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

#inner {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0.2px;

  /* Gray Main */
  background: #bfbfbf;
  box-shadow: inset -2.1164px -2.1164px 0px #000000, inset 2.1164px 2.1164px 0px #dbdbdb,
    inset -4.2328px -4.2328px 0px #808080, inset 4.2328px 4.2328px 0px #ffffff;
}

#title {
  position: absolute;
  left: 0px;
  right: 1.02px;
  top: 6px;
  bottom: 0px;
  width: 388px;
  height: 30px;

  background: linear-gradient(270deg, #ed497b 0%, #ed497b 100%);

  font-family: 'W95FA';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

#question {
  position: absolute;
  width: 381px;
  height: 26px;
  text-align: center;
  top: 78px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;

  color: #000000;
}

#remaining {
  position: absolute;
  width: 381px;
  height: 26px;
  text-align: center;
  top: 105px;

  font-family: 'W95FA';
  font-style: normal;
  font-size: 14px;
  line-height: 26px;

  color: #000000;
}

.buyButton {
  position: absolute;
  width: 160.85px;
  height: 52.91px;
  left: 33.86px;
  top: 158.73px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;
  /* Gray Main */
  background: #bfbfbf;
  box-shadow: inset -2.1164px -2.1164px 0px #000000, inset 2.1164px 2.1164px 0px #ffffff,
    inset -4.2328px -4.2328px 0px #808080, inset 4.2328px 4.2328px 0px #dbdbdb;
}

.cancelButton {
  position: absolute;
  width: 160.85px;
  height: 52.91px;
  left: 205.86px;
  top: 158.73px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;
  background: #bfbfbf;
  box-shadow: inset -2.1164px -2.1164px 0px #000000, inset 2.1164px 2.1164px 0px #ffffff,
    inset -4.2328px -4.2328px 0px #808080, inset 4.2328px 4.2328px 0px #dbdbdb;
}

.popup-inner {
  background-color: white;
}
