.sampleChapterOriginal {
  position: relative;
  flex-direction: row;
}

.wholestoryThree {
  width: 1119px;
  height: 2300px;
  top: 1180px;

  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #b7bbc1;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
}

#innerSquareThree {
  position: absolute;
  width: 1104px;
  height: 2254px;
  left: 7px;
  top: 23px;

  background: #dadada;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#episodeTitleThree {
  position: absolute;
  width: 250px;
  height: 52px;
  left: 44%;
  right: 50%;
  top: 100px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 52px;

  /* main pink */
  color: #ed497b;
}

#storyContentThree {
  position: absolute;
  text-align: center;

  top: 203px;
  width: 90%;
  align-items: center;
  left: 5%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

#questionThree {
  position: absolute;
  text-align: center;
  left: 42%;
  font-weight: bold;
  font-family: 'W95FA';
  font-size: 22px;
  top: 1930px;
}

#optionAThree {
  position: relative;
  width: 158px;
  height: 52px;
  left: 383px;
  top: 2000px;

  background: #bfbfbf;
  /* Button Framing */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 500;
  font-size: 19.5px;
  line-height: 21px;
}

#optionBThree {
  position: relative;
  width: 158px;
  height: 52px;
  top: 2000px;
  left: 410px;

  background: #bfbfbf;
  /* Button Framing */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 500;
  font-size: 19.5px;
  line-height: 21px;
}

#previousButtonThree {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 761px;
  top: 2180px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 500;
  font-size: 19.5px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
  background: #bfbfbf;
  box-shadow: inset -1.56px -1.56px 0px #000000, inset 1.56px 1.56px 0px #ffffff,
    inset -3.12px -3.12px 0px #808080, inset 3.12px 3.12px 0px #dbdbdb;
}

#nextButtonThree {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 922px;
  top: 2180px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 500;
  font-size: 19.5px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
  background: #bfbfbf;
  box-shadow: inset -1.56px -1.56px 0px #000000, inset 1.56px 1.56px 0px #ffffff,
    inset -3.12px -3.12px 0px #808080, inset 3.12px 3.12px 0px #dbdbdb;
}
