.MyNFTs {
    padding-top: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    width: 1120px;
    height: 500px; /* 추후 수정 (내용 다 보이도록) */
    overflow: hidden; /* 추후 수정 */
    
    justify-content: space-between;
    
    background: #D9D9D9;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);

    font-family: msSansSerif;
}
