.nowtrend {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.gr_mp_nt{
  padding-left: 8px;
  
 
  

  width: 1104px;
  height: 1392px;

  
  background: #DADADA;
/* block_inside */

box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.6);

  

  font-family: msSansSerif;
}

.gr_mp_nt_in{
  
  border: 1px solid #BCBCBC;
  margin-top:32px;
  margin-bottom:17px;     
  width: 1075px;
  height: 1380px;
  top: 32px;
  

  border: 1px solid #BCBCBC;
}
.gr_mp_nt_out_1{
  width: 100vw;
  background: #717171;
  
  padding:0.5rem calc((100vw - 1120px)/2);

 }
 .gr_mp_nt_out_2{
  
  margin-left:auto;
  margin-top: 30px;
  margin-bottom: 44px;
  padding-left:7.5px;
  padding-top:32px;
  padding-bottom: 8px;

  width: 1120px;
  height: 1507px;
  left: 402px;
  top: 586px;

  /* background gray */

  background: #CCCCCC;
/* block_outside */

box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);

 }
