  .home{
    display: flex;
    flex-direction: column;
    width:100vw;

  }
  .row_hm_3{
    margin-left:auto;
     margin-right:auto;
     margin-top:44px;
     margin-bottom:44px;    
     width: 1000px;
   height: 335px;
   left: 402px;
   top: 586px;
   
   /* background gray */
   
   background: #D5D5D5;
   /* block_outside */
   
   box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
   
   
   }
   .row_hm_1{
     margin-left:auto;
     margin-right:auto;
     margin-top:44px;
     margin-bottom:44px;    
     width: 1000px;
   height: 335px;
   left: 402px;
   top: 586px;
   
   /* background gray */
   
   background: #D5D5D5;
   /* block_outside */
   
   box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
   
   
   }
   .row_hm_2{
     margin-left:auto;
     margin-right:auto;
     margin-top:44px;
     margin-bottom:44px;
       
     width: 1000px;
   height: 335px;
   left: 402px;
   top: 586px;
   
   /* background gray */
   
   background: #D5D5D5;
   /* block_outside */
   
   box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
   
   
   }

   .row_hm_4{
    margin-left:auto;
    margin-right:auto;
    margin-top:44px;
    margin-bottom:44px;    
    width: 1000px;
  height: 335px;
  left: 402px;
  top: 586px;
  
  /* background gray */
  
  background: #D5D5D5;
  /* block_outside */
  
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
  
  
  }
  .row_hm_5{
    margin-left:auto;
    margin-right:auto;
    margin-top:44px;
    margin-bottom:44px;
      
    width: 1000px;
  height: 335px;
  left: 402px;
  top: 586px;
  
  /* background gray */
  
  background: #D5D5D5;
  /* block_outside */
  
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
  
  
  }
  .row_hm_6{
    margin-left:auto;
    margin-right:auto;
    margin-top:44px;
    margin-bottom:44px;    
    width: 1000px;
  height: 335px;
  left: 402px;
  top: 586px;
  
  /* background gray */
  
  background: #D5D5D5;
  /* block_outside */
  
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
  
  
  }
  .row_hm_7{
    margin-left:auto;
    margin-right:auto;
    margin-top:44px;
    margin-bottom:44px;
      
    width: 1000px;
  height: 335px;
  left: 402px;
  top: 586px;
  
  /* background gray */
  
  background: #D5D5D5;
  /* block_outside */
  
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
  
  
  }
 
  .row_hm_8{
    margin-left:auto;
    margin-right:auto;
    margin-top:44px;
    margin-bottom:44px;
      
    width: 1000px;
  height: 335px;
  left: 402px;
  top: 586px;
  
  /* background gray */
  
  background: #D5D5D5;
  /* block_outside */
  
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
  
  
  }
  .row_hm_3_in{
    margin-left:auto;
    margin-right:auto;
    margin-top:32px;
    margin-bottom:17px;     
    width: 968px;
    height: 286px;
    left: 16px;
    top: 32px;
    
    border: 2px solid #666666;
  
   
   }
   .row_hm_1_in{
     margin-left:auto;
     margin-right:auto;
     margin-top:32px;
     margin-bottom:17px;     
     width: 968px;
     height: 286px;
     left: 16px;
     top: 32px;
     
     border: 2px solid #666666;
   
   }
   .row_hm_2_in{
     margin-left:auto;
     margin-right:auto;
     margin-top:32px;
     margin-bottom:17px;  
       
     width: 968px;
     height: 286px;
     left: 16px;
     top: 32px;
     
     border: 2px solid #666666;
   
   
   }

   .row_hm_4_in{
    margin-left:auto;
    margin-right:auto;
    margin-top:32px;
    margin-bottom:17px;     
    width: 968px;
    height: 286px;
    left: 16px;
    top: 32px;
    
    border: 2px solid #666666;
  
  
  }
  .row_hm_5_in{
    margin-left:auto;
     margin-right:auto;
     margin-top:32px;
     margin-bottom:17px;     
     width: 968px;
     height: 286px;
     left: 16px;
     top: 32px;
     
     border: 2px solid #666666;
   
  
  }
  .row_hm_6_in{
    margin-left:auto;
    margin-right:auto;
    margin-top:32px;
    margin-bottom:17px;     
    width: 968px;
    height: 286px;
    left: 16px;
    top: 32px;
    
    border: 2px solid #666666;
  
  
  }
  .row_hm_7_in{
    margin-left:auto;
    margin-right:auto;
    margin-top:32px;
    margin-bottom:17px;     
    width: 968px;
    height: 286px;
    left: 16px;
    top: 32px;
    
    border: 2px solid #666666;
  
  
  }
 
  .row_hm_8_in{
    margin-left:auto;
     margin-right:auto;
     margin-top:32px;
     margin-bottom:17px;     
     width: 968px;
     height: 286px;
     left: 16px;
     top: 32px;
     
     border: 2px solid #666666;
   
  }
 
 
  

  

 
  

  
