.IndividualNovelPageOriginal {
  position: relative;
  flex-direction: row;
}

#thumbnail {
  position: absolute;
  width: 180px;
  height: 270px;
  left: 400px;
  top: 126px;
}

.XLOriginalButton {
  /* XL Original */

  position: absolute;
  width: 62px;
  height: 15px;
  left: 623px;
  top: 136px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  /* identical to box height */

  color: #000000;

  box-sizing: border-box;

  position: absolute;
  width: 84px;
  height: 24px;
  left: 612px;
  top: 132px;

  background: #ffffff;
  border: 1px solid #000000;
}

#workName {
  /* 작품 제목 */

  position: absolute;
  width: 95px;
  height: 29px;
  left: 612px;
  top: 164px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #000000;
}

#authorInfo {
  position: absolute;
  width: 252px;
  height: 17px;
  left: 612px;
  top: 201px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

#summary {
  position: absolute;
  width: 586px;
  height: 51px;
  left: 612px;
  top: 244px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

#readFirst {
  box-sizing: border-box;
  text-align: center;

  position: absolute;
  width: 160px;
  height: 40px;
  left: 612px;
  top: 356px;

  border: 1px solid #000000;
}

#xltCharge {
  box-sizing: border-box;
  text-align: center;

  position: absolute;
  width: 160px;
  height: 40px;
  left: 788px;
  top: 356px;

  border: 1px solid #000000;
}

#favFigure {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1403px;
  top: 132px;
}

#favButton {
  position: absolute;
  width: 52px;
  height: 17px;
  left: 1300px;
  top: 192px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

#rankingFigure {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1469px;
  top: 132px;
  border: 2px;
}

#rankingName {
  /* 나의 랭킹 */

  position: absolute;
  width: 56px;
  height: 17px;
  left: 1200px;
  top: 192px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

#myNFT {
  position: absolute;
  width: 1121px;
  height: 296px;
  left: 397px;
  top: 446px;
}

#sampleNFT {
  position: relative;
  height: 180px;
  width: 600px;
  background-color: gray;
  top: 470px;
  left: 397px;

  padding: 0.5rem calc((100vw - 1000px) / 2);
  display: flex;
}

#buyAll {
  position: absolute;
  width: 93px;
  height: 19px;
  left: 397px;
  top: 804px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#fromFirst {
  position: absolute;
  width: 140px;
  height: 19px;
  left: 1100px;
  top: 804px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#fromRecent {
  position: absolute;
  width: 140px;
  height: 19px;
  left: 1300px;
  top: 804px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.readChapter {
  position: relative;
}

#chapter {
  position: relative;
  width: 113px;
  height: 24px;
  left: 432px;
  top: 680px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

#date {
  /* 업로드 날짜 */

  position: absolute;
  width: 79px;
  height: 19px;
  left: 432px;
  top: 700px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

#read {
  box-sizing: border-box;

  position: absolute;
  width: 80px;
  height: 40px;
  left: 1008px;
  top: 680px;

  background: #ffffff;
  border: 1px solid #000000;
}
