.series {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.row_sr {
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  margin-bottom: 44px;
  width: 1120px;
  height: 335px;
  left: 402px;
  top: 586px;
  justify-content: space-between;

  /* background gray */

  background: #d5d5d5;
  /* block_outside */

  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
}

.row_sr_in {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 17px;
  width: 1088px;
  height: 286px;
  left: 16px;
  top: 32px;
  justify-content: space-between;

  border: 2px solid #666666;
}
.row_sr_out {
  width: 100vw;
  background: linear-gradient(225deg, #69eacb 0%, #eaccf8 47.87%, #6654f1 100%);
  justify-content: space-between;
  padding-left: 290px;
}
