.grid {
    width:100%;
  
  }
  
  .grid__posters {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
     
      width: 100%;
      height: 100%;
     
      padding: 20px;
      
  }
  
  .grid__posters::-webkit-scrollbar {
      display: none; /* 스크롤 노출 유무 (작동엔 영향 없음) */
  }
  
  .grid__poster {
      object-fit: contain;
      width: 100%;
      max-height: 100px;
      margin-right: 10px;
      transition: transform 450ms;
  }
  
  .grid__poster:hover {
      transform: scale(1.08);
  
  }
  
  .grid__posterLarge {
      max-height: 250px;
  }
  
  .grid__posterLarge:hover {
      transform: scale(1.09);
  }