.itemsHistory {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  background: #717171;
  height: 850px;
}

.containerOne {
  position: absolute;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  width: 1119px;
  height: 504px;
  top: 350px;

  background: #d5d5d5;
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#frame {
  box-sizing: border-box;

  position: absolute;
  width: 1100px;
  height: 480px;
  left: 10px;
  top: 12px;

  border: 2px solid #ed497b;
}

#nftImage {
  position: absolute;
  width: 450px;
  height: 450px;
  left: 27px;
  top: 27px;
}

#nameWork {
  position: absolute;
  width: 78px;
  height: 19px;
  left: 550px;
  top: 31px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#nftName {
  position: absolute;
  width: 321px;
  height: 34px;
  left: 550px;
  top: 61px;

  font-family: 'ChicagoFLF';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height */

  color: #ed497b;
}

#novelThumbnail {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 560px;
  top: 144px;
}

#novelTitle {
  position: absolute;
  width: 96px;
  height: 30px;
  left: 537px;
  top: 213px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;

  color: #000000;
}

#readWork {
  position: absolute;
  width: 75px;
  height: 15px;
  left: 642px;
  top: 167px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  background-color: transparent;

  color: #ed497b;
}

#nftPriceContainer {
  position: absolute;
  width: 96px;
  height: 36px;
  left: 922px;
  top: 301px;

  background: #ed497b;
}

#nftPrice {
  position: absolute;
  width: 96px;
  height: 34px;
  left: 938px;
  top: 308px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 26px;

  color: #ffffff;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  /* identical to box height */
}

#buyNft {
  position: absolute;
  width: 193px;
  height: 34px;
  left: calc(50% - 193px / 2 + 202.5px);
  top: calc(50% - 34px / 2 + 135px);

  background: #ed497b;
  /* Button Framing */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  /* identical to box height, or 75% */
  text-align: center;

  color: #ffffff;
}

#makeOffer {
  position: absolute;
  width: 193px;
  height: 34px;
  left: calc(50% - 193px / 2 + 202.5px);
  top: calc(50% - 34px / 2 + 182px);

  background: #bfbfbf;
  /* block3 */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  /* identical to box height, or 75% */
  text-align: center;

  /* Black */
  color: #000000;
}

.containerTwo {
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Gray Main */
  background: #bfbfbf;
  /* Window Framing */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #dbdbdb, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #ffffff;
  position: absolute;
  width: 1120px;
  height: 244px;
  /* left: 125px;*/
  top: 763px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#line {
  position: absolute;
  width: 1110px;
  height: 0px;
  left: 5px;
  top: 67px;

  border: 1px solid #000000;
}

#itemsHistory1 {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 70%;
  top: 65px;
}

#details {
  position: absolute;
  width: 1110px;
  height: 35px;
  left: 5px;
  top: 4px;

  background: #ed497b;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

#categoryItemHistory1 {
  position: absolute;
  width: 89px;
  height: 19px;
  left: 15px;
  top: 44px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  /* identical to box height */

  color: #ed497b;
}

#categoryOffers1 {
  position: absolute;
  width: 46px;
  height: 19px;
  left: 126px;
  top: 44px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

#categoryDetails1 {
  position: absolute;
  width: 53px;
  height: 19px;
  left: 194px;
  top: 44px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

#itemsHistory {
  position: absolute;
  left: 41px;
  top: 85px;
}
