.BuyXLT {
  padding-top: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  position: relative;

  width: 1120px;
  height: 500px;

  justify-content: space-between;

  background: #d9d9d9;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);

  font-family: msSansSerif;
}

.buyXLT_header {
  position: absolute;
  left: 4%;
  top: 8%;

  padding-bottom: 10px;

  border-bottom: 1px solid #666666;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #000000;
}

.BuyXLTelments {
  position: absolute;
  left: 10%;
  top: 20%;

  display: flex;
  flex-direction: row;

  margin-left: 10px;
}

#purchaseBtn {
  width: 200px;
  height: 25px;

  margin-top: 10px;

  background: #cccccc;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.6);

  font-family: w95fa;
}
