.KaikasPage {
    
    width: 100vw;
    height: 180px;

    margin-left: 10px;
    padding: 10px;

    background: #DADADA;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.6);
}

#walletConnectBtn {
    position: absolute;
    width: 200px;
    height: 20px;

    margin-top: 10px;

    background: #CCCCCC;
    box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.6);
}
