.img {
  width: 12px;
  height: 6px;
  overflow: hidden;
}
.img_2 {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.input-sm {
    padding: 1px;
    font-family: w95fa;
}

#searchBtn {
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px;
}