.infoOfNovel {
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  height: 40px;
  left: 612px;
  top: 356px;

  background: #ffffff;
  border: 1px solid #000000;
}

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
