.original {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.IndividualNovelPageOriginal {
  position: relative;
  flex-direction: row;
}

.infoOfNovel {
  width: 1119px;
  height: 383px;
  left: 403px;
  top: 250px;

  background: #b7bbc1;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);

  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#insideSquare {
  position: absolute;
  width: 1104px;
  height: 348px;
  left: 7px;
  top: 21px;

  background: #dadada;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#thumbnail {
  position: absolute;
  width: 180px;
  height: 270px;
  left: 53.28px;
  top: 39px;
}

.XLOriginalButton {
  position: absolute;
  width: 62px;
  height: 15px;
  left: 262px;
  top: 42px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #000000;

  box-sizing: border-box;

  position: absolute;
  width: 84px;
  height: 24px;
  left: 262px;

  background: transparent;
  border: 1px solid #000000;
}

#workName {
  position: absolute;
  width: 95px;
  height: 29px;
  left: 262px;
  top: 73px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #000000;
}

#authorInfo {
  position: absolute;
  width: 252px;
  height: 17px;
  left: 262px;
  top: 110px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

#summary {
  position: absolute;
  width: 586px;
  height: 51px;
  left: 262px;
  top: 153px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

#readFirst {
  box-sizing: border-box;
  text-align: center;

  position: absolute;
  width: 160px;
  height: 40px;
  left: 262px;
  top: 265px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  background: #ffffff;
  border: 1px solid #000000;
}

#xltCharge {
  box-sizing: border-box;
  text-align: center;

  position: absolute;
  width: 160px;
  height: 40px;
  left: 438px;
  top: 265px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  background: #ffffff;
  border: 1px solid #000000;
}

#favFigure {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1403px;
  top: 132px;
}

#favName {
  position: absolute;
  width: 52px;
  height: 17px;
  left: 978px;
  top: 108px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;

  color: #000000;
}

#rankingFigure {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1469px;
  top: 110px;
  border: 2px;
}

#rankingName {
  position: absolute;
  width: 56px;
  height: 17px;
  left: 1042px;
  top: 108px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;

  color: #000000;
}

#chapterListBigSquare {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1119px;
  height: 973px;
  /* left: 403px; */
  top: 630px;

  background: #b7bbc1;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
}

#innerSquareStoryList {
  position: absolute;
  width: 1104px;
  height: 928px;
  left: 7px;
  top: 21px;

  background: #dadada;
  box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#vectorForNFT {
  position: absolute;
  width: 1064px;
  height: 378px;
  left: 21px;
  top: 74px;

  border: 2px solid #bcbcbc;
}

#myNftsTitle {
  position: absolute;
  width: 120px;
  height: 26px;
  left: 75px;
  top: 61px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #000000;

  background-color: #dadada;
}

/* #nft {
  position: relative;
  height: 180px;
  width: 600px;
  background-color: gray;
  top: 470px;
  left: 397px;

  padding: 0.5rem calc((100vw - 1000px) / 2);
  display: flex;
} */

#vectorForStoryList {
  position: absolute;
  width: 1064px;
  height: 400px;
  left: 21px;
  top: 514px;

  border: 2px solid #bcbcbc;
}

#storyListTitle {
  position: absolute;
  width: 120px;
  height: 26px;
  left: 75px;
  top: 495px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #000000;

  background-color: #dadada;
}

#buyAll {
  position: absolute;
  width: 122px;
  height: 19px;
  left: 50px;
  top: 546px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;

  color: #000000;
}

#fromFirst {
  position: absolute;
  width: 140px;
  height: 19px;
  left: 1100px;
  top: 804px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#episodeOrder {
  position: absolute;
  width: 248px;
  height: 19px;
  left: 818px;
  top: 546px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

.readChapterOne {
  position: absolute;
  width: 1024px;
  height: 82px;
  left: 43px;
  top: 597px;

  background: #bbbbbb;
  box-shadow: inset -2px -2px 0px #ed497b, inset 2px 2px 0px #ffffff, inset -4px -4px 0px #808080,
    inset -4px -4px 0px #ed497b;
}

#episodeTitleOne {
  position: absolute;
  /* width: 113px; */
  height: 24px;
  left: 18px;
  top: 30px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#dateOne {
  /* 업로드 날짜 */

  position: absolute;
  width: 79px;
  height: 19px;
  left: 432px;
  top: 610px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

#readOne {
  position: absolute;
  left: 908px;
  top: 27px;

  width: 76px;
  height: 25px;
  /* Gray Main */
  background: #bfbfbf;
  /* Button Framing */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;
}

.readChapterTwo {
  position: absolute;
  width: 1024px;
  height: 82px;
  left: 43px;
  top: 680px;

  background: #bbbbbb;
  box-shadow: inset -2px -2px 0px #ed497b, inset 2px 2px 0px #ffffff, inset -4px -4px 0px #808080,
    inset -4px -4px 0px #ed497b;
}

#episodeTitleTwo {
  position: absolute;
  height: 24px;
  left: 18px;
  top: 30px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#dateTwo {
  /* 업로드 날짜 */

  position: absolute;
  width: 79px;
  height: 19px;
  left: 432px;
  top: 780px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

#readTwo {
  position: absolute;
  left: 908px;
  top: 27px;

  width: 76px;
  height: 25px;
  /* Gray Main */
  background: #bfbfbf;
  /* Button Framing */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;
}

.readChapterThree {
  position: absolute;
  width: 1024px;
  height: 82px;
  left: 43px;
  top: 762px;

  background: #bbbbbb;
  box-shadow: inset -2px -2px 0px #ed497b, inset 2px 2px 0px #ffffff, inset -4px -4px 0px #808080,
    inset -4px -4px 0px #ed497b;
}

#episodeTitleThree {
  position: absolute;

  height: 24px;
  left: 18px;
  top: 30px;

  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#dateThree {
  /* 업로드 날짜 */

  position: absolute;
  width: 79px;
  height: 19px;
  left: 432px;
  top: 950px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

#readThree {
  position: absolute;
  left: 908px;
  top: 27px;

  width: 76px;
  height: 25px;
  /* Gray Main */
  background: #bfbfbf;
  /* Button Framing */
  box-shadow: inset -1px -1px 0px #000000, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808080,
    inset 2px 2px 0px #dbdbdb;
}
