@charset "utf-8";

@font-face {
  font-family: 'msSansSerif';
  src: url('./assets/font/MS\ Sans\ Serif\ 8pt\ bold.ttf');
}

@font-face {
  font-family: 'w95fa';
  src: url('./assets/font/W95FA.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.default {
  background: #717171;
}

.nav {
  margin-left: calc((100vw - 1120px)/2);
  margin-right: auto;
  margin-bottom: 12px;

  width: 1120px;
  height: 60px;
    
  justify-content: center;
    
  background: #D9D9D9;
  
}
